<!DOCTYPE html>
<html>
  <head>
    <base target="_top">
    <style>
      
      .tabs {
        display: flex;
        width: 100%;
      }
      
      .tab {
        flex: 1;
        padding: 8px;
        text-align: center;
        background-color: #f0f0f0;
        cursor: pointer;
        color: #448aff;
        font-weight: bold;
      }
      .tab:hover {
        text-decoration: underline;
      }
      .tab.active {
        background-color: white;
      }
      
      .content {
        padding: 8px;
        padding-top: 32px;
      }
      
      #modelSelect {
        width: 100%;
      }
           
      .loading-container {
        background: #f5f5f5;
        text-align: center;
        color: #a7a7a7;
        line-height: 24px;
      }
      .loading-amount {
        color: #1a1a1a;
        font-size: 18px;
      }
      
      .blue-text {
        color: #448aff;
      }
      
      .footer {
        position: absolute;
        bottom: 0;
        padding: 8px;
        color: rgba(0,0,0,0.4);
      }
      
      .footer a {
        cursor: pointer;
        text-decoration: underline;
        text-decoration-style: dotted;
      } 
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-multiselect@2.1.0"></script>
    <link rel="stylesheet" href="https://ssl.gstatic.com/docs/script/css/add-ons1.css">
  </head>
  <body>
    <div id="app">
      <div style="height: 4px; background-color: #448aff"></div>
      
      <template v-if="apiKey">
    
        <nav class="tabs">
          <div class="tab" v-for="(tab, index) in tabs" v-bind:class="{ active: activeTab === index }" v-on:click="activeTab = index">
            {{ tab }}
          </div>
        </nav>
        
        <div class="content">
        
          <template v-if="activeTab === 0">
            Use the Models API to obtain predictions for one or more stored topical models based on the domains that you selected in your Google Sheets.
            <br>
            <br>
            For more information, please see our <a href="https://madkudu.com">docs</a>.
            <br>
            <br>
            <label for="modelSelect">Select Model(s)</label>
            <br>
            <select id="modelSelect" multiple size="8">
              <option v-for="model in models" v-bind:value="model.id">{{ model.name }}</option>
            </select>
          </template>
          
          <template v-if="activeTab === 1">
            <input type="radio" name="customerFitModel" value="companies" v-model="customerFitModel" id="companiesRadio" checked><label for="companiesRadio">Companies</label>
            &nbsp;
            <input type="radio" name="customerFitModel" value="persons" v-model="customerFitModel" id="personsRadio"><label for="personsRadio">Persons</label>
            <hr>
            Use the {{ customerFitModel === 'companies' ? 'Companies' : 'persons' }} API to obtain predictions for MadKudu's customer fit models based on the {{ customerFitModel === 'companies' ? 'domains' : 'email addresses' }} that you selected in your Google Sheet.
            <br>
            <br>
            <br>
            For more information, please see our <a v-bind:href="'https://developers.madkudu.com/#' + (customerFitModel === 'companies' ? 'companies' : 'persons')">docs</a>.
          </template>

          <br>
          <br>
          <input id="insertHeadersCheckbox" type="checkbox" v-model="insertHeaders">
          <label for="insertHeadersCheckbox">Insert headers</label>
          <br>
          <br>
          <button class="action" v-bind:disabled="isLoading" onclick="runPrediction()">Get predictions</button>
          <br>
        
        </div>
        
        <!-- Loading Progress Message -->
        <div class="loading-container" v-if="isLoading && totalAmountToLoad > 0">
          Loading...
          <br>
          <div class="loading-amount">
            <span class="blue-text">{{ currentAmountLoaded }}</span> out of {{ totalAmountToLoad }}
          </div>
          predictions completed
        </div>
      
      </template>
      
      <template v-else>
        <div class="content">
          <strong>Please enter your secret API key</strong>
          <br>
          To obtain your API key, just <a href="https://app.madkudu.com">log in</a> to the MadKudu app, go to the Integrations tab and click on the MadKudu API button.
          <br>
          <br>
          <label for="apiKeyInput">API Key</label>
          <br>
          <input id="apiKeyInput" placeholder="a349892jalduwie239">
          <br>
          <br>
          <button class="action" onclick="saveApiKey()">Save</button>
        </div>
      </template>
      
      <div class="footer">
        <a onclick="changeApiKey()">API Key</a>
      </div>
      
    </div>
    
    <script>
    
      Vue.component('vue-multiselect', window.VueMultiselect.default)
    
      const apiUrl = 'https://api.madkudu.com/v1/'
      
      // initialize app
      const app = new Vue({
        el: '#app',
        data: {
          apiKey: null,
          tabs: ['Topical', 'Customer Fit'],
          activeTab: 0,
          models: [{name:'none'}],
          customerFitModel: 'companies',
          selectedModels: [],
          insertHeaders: true,
          isLoading: false,
          currentAmountLoaded: 0,
          totalAmountToLoad: 0,
          activeSheet: null
        }
      });
      
      run('getUserProperty', 'madkudu_api_key')
        .then((apiKey) => {
          if (apiKey) {
            const encryptedApiKey = btoa(apiKey);
            app.apiKey = encryptedApiKey;
            loadModels();
          }
        });
    
      // runs a server-side script, returning a promise.
      function run(name, ...params) {
        return new Promise((resolve, reject) => {
          google.script.run.withSuccessHandler(resolve).withFailureHandler(reject)[name](...params);
        });
      }
      
      // Finds an element in the document
      function $(selector) {
        return document.querySelector(selector);
      }
      
      function saveApiKey() {
        const apiKey = $('#apiKeyInput').value;
        const encryptedApiKey = btoa(apiKey);
        app.apiKey = encryptedApiKey;
        loadModels();
        run('saveUserProperty', 'madkudu_api_key', apiKey);
      }
      
      function changeApiKey() {
        const oldKey = atob(app.apiKey);
        app.apiKey = null;
        setTimeout(() => {
          $('#apiKeyInput').value = oldKey;
        }, 0)
      }
      
      function resetCounter() {
        app.currentAmountLoaded = 0;
        app.totalAmountToLoad = 0;
      }
      
      // Fetches the current user's models from MadKudu API.
      async function loadModels() {
        const res = await fetch(apiUrl + 'models', {
          method: 'get',
          headers: new Headers({
            'Authorization': 'Basic '+app.apiKey
          })
        })
        if (res.status === 401) {
          app.apiKey = null
          run('deleteUserProperty', 'madkudu_api_key')
          run('alert', 'Invalid API key. Please re-enter a valid key and try again.')
        }
        const models = await res.json()
        // make sure the apikey is still valid
        if (app.apiKey) {
          app.models = models
        }
      }
      
      // returns the selected models from the multiselect element
      function getSelectedModels() {
        const select = $('#modelSelect');
        const result = [];
        const options = select && select.options;
        let opt;
      
        for (let i = 0, iLen = options.length; i < iLen; i++) {
          opt = options[i];
      
          if (opt.selected) {
            result.push({
              id: opt.value,
              name: opt.text
            });
          }
        }
        return result;
      }
      
      async function runTopicalPrediction() {
        app.activeSheet = await run('getActiveSheet')
        app.isLoading = true
        const selectedModels = getSelectedModels()
        if (selectedModels.length === 0) {
          run('alert', 'Please select at least one model.')
          app.isLoading = false
          return
        }
        const selection = await run('getActiveSelection')
        domains = selection.values.map(c => c[0]) // map to array of the first value of each row
        app.totalAmountToLoad = domains.length
        // put headers above data, if there is room
        let insertedHeaders = false
        if (app.insertHeaders) {
          const headers = ['Domain', 'Model ID', 'Model Name', 'main_topic', 'main_topic_confidence']
          insertedHeaders = await run('createRowHeaders', app.activeSheet, selection.row, selection.column, headers)
        }
        // start prediction tasks for all domains
        for (let domainIndex = 0; domainIndex < domains.length; domainIndex++) {
          const domain = domains[domainIndex]
          for (let modelIndex = 0; modelIndex < selectedModels.length; modelIndex++) {
            const model = selectedModels[modelIndex]
            const res = await run('getTopicalPrediction', domain, model.id)
            const result = {
              domain,
              modelId: model.id,
              modelName: model.name,
              row: selection.row + (domainIndex * selectedModels.length) + modelIndex,
              prediction: res
            }
            // write prediction to the sheet
            const batch = []
            const row = (insertedHeaders ? result.row + 1 : result.row)
            batch.push({ row, col: selection.column, val: result.domain })
            batch.push({ row, col: selection.column + 1, val: result.modelId })
            batch.push({ row, col: selection.column + 2, val: result.modelName })
            const prediction = result.prediction
            if (prediction.main_topic) {
              const mainTopic = prediction.main_topic
              batch.push({ row, col: selection.column + 3, val: mainTopic.name })
              batch.push({ row, col: selection.column + 4, val: mainTopic.confidence })
            } else if (prediction.error) {
              batch.push({ row, col: selection.column + 3, val: 'Error - ' + prediction.status + ' ' + result.prediction.message })
              batch.push({ row, col: selection.column + 4, val: 'Error - ' + prediction.status + ' ' + result.prediction.message })
            } else {
              // if the results do not contain main_topic, print "null"
              batch.push({ row, col: selection.column + 3, val: 'null' })
              batch.push({ row, col: selection.column + 4, val: 'null' })
            }
            await run('setCells', app.activeSheet, batch)
            app.currentAmountLoaded++
          }
        }
        app.isLoading = false
        resetCounter()
      }
      
      async function runCustomerFitPrediction() {
        app.activeSheet = await run('getActiveSheet');
        app.isLoading = true;
        const model = app.customerFitModel; // either "companies" or "persons"
        const selection = await run('getActiveSelection', app.activeSheet);
        domainOrEmails = selection.values.map(c => c[0]); // map to array of the first value of each row
        app.totalAmountToLoad = domainOrEmails.length;
        console.log('selection length: ' + app.totalAmountToLoad);

        // put headers above data, if there is room
        let insertedHeaders = false
        if (app.insertHeaders) {
          const headers = [(model === 'companies' ? 'Domain' : 'Email'), 'customer_fit', 'customer_fit_score', 'customer_fit_signals']
          insertedHeaders = await run('createRowHeaders', app.activeSheet, selection.row, selection.column, headers)
        }

        // start predictions for all domains
        for (let domainIndex = 0; domainIndex < domainOrEmails.length; domainIndex += 1) {
          const domainOrEmail = domainOrEmails[domainIndex]
          console.log('domainOrEmail', domainOrEmail);
          const res = await run('getCustomerFitPrediction', domainOrEmail, model);
          console.log('raw results', res);
          const row = selection.row + domainIndex + (insertedHeaders ? 1 : 0);
          
          // write prediction to the sheet
          const batch = []
          if (res.properties && res.properties.customer_fit) {
            const customerFit = res.properties.customer_fit
            batch.push({ row, col: selection.column + 1, val: customerFit.segment })
            batch.push({ row, col: selection.column + 2, val: customerFit.score })
            batch.push({ row, col: selection.column + 3, val: customerFit.top_signals_formatted })
          } else if (res.error) {
            batch.push({ row, col: selection.column + 1, val: 'Error - ' + res.status + ' ' + res.message })
            batch.push({ row, col: selection.column + 2, val: 'Error - ' + res.status + ' ' + res.message })
          }
          await run('setCells', app.activeSheet, batch)
          app.currentAmountLoaded += 1
        }
        app.isLoading = false
        resetCounter()
        
      }
      
      function runPrediction() {
        switch (app.activeTab) {
          case 0:
            runTopicalPrediction()
            break
          case 1:
            runCustomerFitPrediction()
            break
          default:
            break
        }
      }
      
    </script>
  </body>
</html>